@charset "UTF-8";
* {
	margin:0;
	padding:0;
	/*background-color:rgb(255 255 255);*/
	background-color:rgb(248 249 250);
}
.body-container {
	width:100%;
	/*margin:0 auto;*/
	display:flex;
	justify-content:space-around;
	/*margin-top:30px;*/
	flex-flow: row wrap;
}
.dr-table , .pnt-table {
	width:550px;
	margin-top:35px;
	
}

.dr-body {
	display:flex;
	justify-content:space-around;
	width:100%;
}
.dr-in {
	margin-top:40px;
}
.dr-in h4 {
	margin-bottom:30px;
}

.admin-body {
	display:flex;
	justify-content:space-around;
	width:100%;
}
.clinic-in {
	margin-top:40px;
}
.clinic-in h4 {
	margin-bottom:30px;
<<<<<<< Updated upstream
}
=======
}
.clinic-table {
	margin-top:30px;
}


.patient-body {
	display:flex;
	justify-content:space-around;
	width:100%;
}
.testimonial-card .card-up {
height: 120px;
overflow: hidden;
border-top-left-radius: 0.25rem;
border-top-right-radius: 0.25rem;
}

.testimonial-card .avatar {
width: 110px;
margin-top: -60px;
overflow: hidden;
border: 3px solid #fff;
border-radius: 50%;
}
.ptn-right {
	margin-top:35px;
}
.ptn-left {
	margin-top:35px;
}

>>>>>>> Stashed changes
